<h1>Welcome</h1>
<p>Welocme to storybooks 1.0.0</p>
<p>
    Post stories from the bet and the worst of your life and chose to be read by the world or completely
    private as your own personal diary
</p>
{{#if user}}

{{else}}
<a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login with Google</a>
{{/if}}